body{
    background-color: gray;
}
body h1{
    text-align: center;
}
button{
    border: none;
    background-color:rgb(93, 96, 95);
    border-radius: 20px;
}
button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 14px black;
}
div li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
div img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}
div img:hover{
    box-shadow: 0px 10px 14px black;
    transition: all 0.5s ease;
}
div a:hover{
    box-shadow: 0px 10px 14px black;
    border-radius: 5px;
    transition: all 0.5s;
}
div a{
    color: black;
    text-decoration: none;
    background-color: transparent;
}